body {
    margin: 0;
    padding: 0;
    color: #373737;
    background-color: #FFF;
}

body,
input,
button {
    font-family: 'Kanit', Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    border-bottom: 4px solid #ff844b;
    .appLogo {
        // supported only Chrome content: url(./assets/logo.jpg);
        height: 50px;
        padding: 1em 0;
    }
}

main {
    background-image: url(./assets/background.jpg);
    background-clip: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
    .card {
        flex: 0 1 auto;
        min-width: 40%;
        margin-top: 4em;
        background-color: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 4px -2px rgba(0, 0, 0, 0.2);
        .card-header {
            position: relative;
            background-color: #0c8397;
            color: #FFF;
            height: 80px;
            font-size: larger;
            text-align: center;
            line-height: 80px;
            .icon {
                position: absolute;
                height: 24px;
                width: 28px;
                color: #add5dc;
                top: 50%;
                left: 1em;
                transform: translateY(-50%);
                /* note the comps have no transparency */
                &.arrows {
                    background-image: url(./assets/icons/arrows.png);
                }
                &.briefcase {
                    background-image: url(./assets/icons/briefcase.png);
                }
            }
        }
        .card-content {
            padding: 1.5em 1em;
        }
        &.xfer {
            .card-content {
                position: relative;
                &.submit {
                    background-color: rgb(220, 220, 220);
                    input,
                    button {
                        color: purple;
                    }
                }
                .previewPrompt {
                    position: absolute;
                    color: rgb(255, 255, 255);
                    top: .5em;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: bold;
                    letter-spacing: 2px;
                }
            }
            .pbInputBloc {
                position: relative;
                margin-top: 1rem;
                color: #7b7772;
                label {
                    display: block;
                    font-weight: bold;
                    color: rgb(55, 55, 55);
                }
                &.prefix:after {
                    position: absolute;
                    content: '$';
                    top: 2.2em;
                }
                input {
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    border-bottom: 1px solid #bfbfbf;
                    border-radius: 0;
                    outline: none;
                    height: 3rem;
                    width: 100%;
                    font-size: 16px;
                    margin: 0 0 20px 0;
                    padding: 0;
                    box-shadow: none;
                    box-sizing: content-box;
                    display: block;
                    color: #7b7772;
                    &[name="amount"] {
                        padding-left: 1em;
                    }
                    &:disabled {
                        color: #7b7772;
                    }
                }
            }
            .actions {
                text-align: center;
                .btn {
                    border: none;
                    border-radius: 2px;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 2rem;
                    text-transform: uppercase;
                    vertical-align: middle;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    letter-spacing: .5px;
                    transition: .2s ease-out;
                    cursor: pointer;
                    width: 50%;
                    background-color: #ff844b;
                    &[disabled] {
                        background-color: #bfbfbf;
                    }
                }
            }
        }
        .transHstry {
            border: 1px solid #bfbfbf;
            border-left: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: table;
            width: 100%;
            .transItem {
                display: table-row;
                height: 80px;
                padding: 17px 0;
                &:not(:last-child) {
                    border-bottom: 1px solid #bfbfbf;
                }
                >span {
                    display: table-cell;
                    vertical-align: middle;
                    border-bottom: 1px solid rgb(191, 191, 191); // margin-right: auto;
                    // width: 20%;
                }
                .mLogo {
                    display: block;
                    height: 45px;
                    width: 45px;
                    margin: 0 17px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-clip: padding-box;
                    background-size: contain;
                }
                .tDate {
                    padding: .5em 1em;
                    font-size: 14px;
                }
                .tDescript {
                    padding: .5em;
                    min-width: 40%;
                    span {
                        display: block;
                    }
                    .mName {
                        font-size: 15px;
                        line-height: .9em;
                        font-weight: bold;
                    }
                    .tType {
                        font-size: 13px;
                    }
                }
                .tAmount {
                    padding: .5em;
                    font-size: 16px;
                    font-weight: bold;
                    &:before {
                        content: '-$';
                    }
                }
                .tCatCode {
                    width: 10px;
                }
            }
        }
    }
}